<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style3.css">
    <title>Document</title>
</head>
<body>
    <div id="parent" class="clearfix">
        <div id="logo">Logo</div>
        <div id="nav">Navigation</div>
    </div>

    <div id="head">Header/Banner</div>

    <div id="intro">Intro-Textarea</div>

    <div id="main" class="clearfix">
        <div class="box">Box1</div>
        <div class="box">Box2</div>
        <div class="box">Box3</div>
    </div>

    <div id="footer">Footer</div>
</body>
</html>